@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Admin Sayfasına hoşgeldiniz.</h1>
    <p>Admin Home</p>
    <a asp-area="Admin" asp-controller="Role" asp-action="Index" class="btn btn-outline-primary">Roles</a>
    <a asp-area="Admin" asp-controller="Home" asp-action="Users" class="btn btn-outline-secondary">UserList</a>
</div>