@model AdminModel.PasswordResetByAdminViewModel

<div class="row">

    <div class="col-md-4 offset-4">

        <h2 class="mb-5">Şifreyi değiştir</h2>
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <form asp-action="ResetUserPassword">
            <div class="mb-3">
                <input asp-for="UserId" autofocus type="hidden">
            </div>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Şifreyi Onayla</button>
        </form>
    </div>
</div>