@model AdminModel.RoleUpdateViewModel


@{
    ViewBag.Title = "Rolü Güncelle";
    Layout = "_Layout";
}

<partial name="_ValidationScriptsPartial"/>



<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 >Rol Güncelleme</h2>
    @if (TempData["SuccessMessage"] is not null)
    {
        <div class="alert alert-info" role="alert"> @TempData["SuccessMessage"] </div>
        <hr />
    }
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
    <form method="post">
        <input type="hidden" asp-for="Id"/>
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="form-text"></span>
        </div>
        <button type="submit" class="btn btn-primary">Güncelle</button>
    </form>
    </div>
</div>
<div>
    <a asp-action="Index"> Rol listesine geri dön</a>
</div>