@{
    ViewBag.Title = "SignUp";
}
@model ChangePasswordViewModel

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}



@if (TempData["SuccessMessage"] is not null)
{
    <div class="alert alert-info" role="alert"> @TempData["SuccessMessage"] </div>
}
<div class="row">

    <div class="col-md-4 offset-4">

        <h2 class="mb-5"> Şifre Yenileme </h2>
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <form asp-controller="Member" asp-action="ChangePassword" method="post">

            <div class="mb-3">
                <label asp-for="OldPassword" class="form-label"></label>
                <input asp-for="OldPassword" class="form-control">
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewPasswordConfirm" class="form-label"></label>
                <input asp-for="NewPasswordConfirm" class="form-control">
                <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
        </form>
    </div>
</div>